<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Share Link - data receiver</title>
  <link rel="stylesheet" href="/data/style.css">
</head>
<body>
  <h1>Download shared file</h1>
  <div class="box">
    <p id="status">Connecting to the sender...</p>
    <p id="download"></p>
  </div>
  <script th:inline="javascript">
    window.shareLinkRoom = /*[[${room}]]*/ "";
  </script>
  <script src="/data/receiver.js"></script>
</body>
</html>
